$logo-almundo: url('../assets/logo-almundo.svg');
$logo-almundo-size: 225px auto;
$icon-size: 15px;
$header-width: 100%;
$header-height: 75px;

$main-color: rgb(16, 67, 132);
$title-color:  rgb(2, 113, 174);